@model IEnumerable<Atelier_Pratique_9.Models.Type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomType)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.NumType }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumType }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.NumType })
        </td>
    </tr>
}

</table>
